@import "bootstrap";
@import "toastify-js/src/toastify.css";
@import "trix/dist/trix";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

body {
    background: rgb(73,172,117);
    background: linear-gradient(90deg, rgba(73,172,117,1) 0%, rgba(87,142,185,1) 100%);
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none; 
}

.trix-button-group.trix-button-group--block-tools,
.trix-button-group.trix-button-group--file-tools,
.trix-button-group.trix-button-group--history-tools,
.trix-button.trix-button--icon.trix-button--icon-strike {
    display: none;
}

.page-link {
    color: #49ac75;
}

.page-item.active .page-link {
    background-color: #49ac75;
    border-color: #49ac75;
}

.blog-navbar {
    background-color: rgba(255,255,255, .8) !important;
}

.active {
    .nav-link {
        color: #4D4D4D !important;
    }
}

.posts {
    max-width: 600px;
}

.post-container {
    background-color: rgba(255, 255, 255, 0.8);
    color: #2c2c2c;
}

.post-title {
    cursor: pointer;
    color: #181818;
    font-size: 1.2em;
    &:hover {
        color: lighten(black, 40%);
    }
}

.post-main-title {
    color: #181818;
    font-size: 1.8em;
}

.standard-link {
    color: #2c2c2c;
}

.delete-post-link {
    color: rgb(226, 59, 59);
}

.auth-form {
    max-width: 600px;
}

.post-code {
    max-width: 600px;
}