<div class="container">
    <div class="row mt-4">
        <h1 class="post-main-title">Editar post</h1>
    </div>
    <div class="row">
        <%= render 'form', post: @post %>
    </div>
    <div class="row mt-2">
        <%= link_to 'Visualizar', @post, class: 'standard-link' %>
    </div>
</div>

