<p>Hello <%= @resource.email %>!</p>

<p>Foi recebido um pedido de mudança de senha. Você pode seguir com o procedimento clicando no link abaixo:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isso, apenas ignore este email.</p>
<p>Sua senha não será alterada a menos que clique no link e siga os passos descritos.</p>
